<h1><%= @user.username %>'s Events</h1>
<%  @user_events.each do |event| %>
    <div class="event-card">
    <h3><%= event.name %></h3>
    <p><strong>When:</strong> <%= event.start_datetime %><br />
    <strong>Where:</strong> <%= event.location %></p>
    <p><%= event.details %></p>
    <p><a href="/events/#{event.id}/edit">Edit</a></p>
    </div>
    
    <% end %>
    <div><a href="/events/new">Add New Events</a></div>
      