<h1><%= @user.username %>'s Events</h1>
<div class="card-holder">
<% @user_events.each do |event| %>
    <div class="event-card">
        <div class="card-header">
            <h3><%= event.name %></h3>
        </div>
        <div class="card-content clearfix">
            <p><%= event.format_date(event.start_datetime) %></p>
            <p><%= event.location %></p>
            <a class="mini-btn" href="/events/<%= event.id%>">More ></a> 
        </div>
     </div>
    
<% end %>
</div>
    <div><a href="/events/new" class="btn">Add Event</a></div>
      