<h1><% if @user != current_user %>You Are Viewing <% end %><%= @user.username %>'s Events</h1>
<div class="card-holder">
<% @user_events.each do |event| %>
    <div class="event-card">
        <div class="card-header">
            <h3><%= event.name %></h3>
        </div>
        <div class="card-content clearfix">
            <%= event.format_date(event.start_datetime) %>
            <p class="category-list">
                <% event.categories.each do |cat| %>
                    <span class="cat-name"><%= cat.name%></span> 
                <% end %>
                </p>
            <%= event.location %>
            <a class="mini-btn" href="/events/<%= event.id%>">More ></a> 
        </div>
     </div>
    
<% end %>
</div>
    <div>
        <% if @user == current_user %>
            <a href="/events/new" class="btn">Add Event</a>
        <% else %>
            <a href="/user/<%= current_user.id %>" class="btn">See Your Events</a>
        <% end %>
    </div>
      