<h1>Events:</h1>
<div class="card-holder">
    <% @events.all.each do |event| %>
        <div class="event-card">
            <div class="card-header">
                <h3><%= event.name %></h3>
            </div>
            <div class="card-content clearfix">
                <p><%= event.format_date(event.start_datetime) %></p>
                <p><%= event.location %></p>
                <a class="mini-btn" href="/events/<%= event.id%>">See Details ></a> 
            </div>
         </div>
        
    <% end %>
</div>
<div>
    <a href="/events/new">Add an event</a> or see <a href="/user/<%= @user.id %>">your events</a>.
</div>