<h1>Events:</h1>
<div>
    <% @events.all.each do |event| %>
        <h2><%= event.name %></h2>
        <p><strong>When:</strong> <%= event.format_date(event.start_datetime) %> <%= event.location %></strong>
        <p><%= event.details %></p>
        
    <% end %>
</div>
<div><a href="/events/new">Add an event</a> or see <a href="/user/<%= @user.id %>">your events</a>.
</div>