<h1><%= @event.name %></h1>
<em><% @event.categories.each do |cat| %>
    <span class="cat-name"><%= cat.name%></span>
    <%end%>
    </em>
<p><strong>When:</strong> <%= @event.format_date_long(@event.start_datetime) %><% if @event.end_datetime != "" && @event.end_datetime != nil %> - <%= @event.format_date_long(@event.end_datetime) %><% end %></p>
<p><strong>Where:</strong> <%= @event.location %></p>
<p><%= @event.details %></p>
<% if current_user.owns_event?(@event)%>
    <a href="/events/<%= @event.id %>/edit" class="btn" style="float:left;">Edit</a>
<form method="POST" action="/events/<%= @event.id%>" class="delete-btn">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn" type="submit" value="Delete" id="Delete">
</form><div style="clear:both"></div><a href="/user/<%= current_user.id %>" class="btn" >My events</a> <a href="/events/new" class="btn" >Add Event</a>
<%end %>