<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Event Connection</h1>

    <div class="content">
    <p>Welcome to Event Connection. See what's happening in your community and add your own events to our community calendar. </p> 
    
    <div class="event-list-view">
      <div class="special-header"><h2>Upcoming Events:</h2></div>
      <% @upcoming_events.each do |event|%>
        <div class="event-list-item">
        <h3><%= event.name %></h3>
        <p class="category-list">
        <% event.categories.each do |cat| %>
          <span class="cat-name"><%= cat.name%></span> 
          <% end %></p>
        <p><%= event.format_date(event.start_datetime)%> | <%= event.location %> <a class="mini-btn" href="/events/<%= event.id%>">More ></a></p>
        </div>
      <% end %>
    </div>
    <a class="btn" href="/events">Full Calendar</a>
    </div>
    
  </div>
</div>
